@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: linear-gradient(whitesmoke, whitesmoke);
}

h1,
p,
button {
  font-family: "Open Sans", sans-serif !important;
}

h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.leaderboard-container {
  margin: 30px auto;
  overflow: auto;
  border-radius: 2px;
  border: 1px solid silver;
  background-color: white;
}
.widget-container {
  margin: 30px auto;
  overflow: auto;
  padding: 30px;
  max-height: 745px;
  border-radius: 2px;
  border: 1px solid silver;
  background-color: white;
}

.widget2-container {
  margin: 30px auto;
  overflow: auto;
  padding: 0px 30px;
  border-radius: 2px;
  border: 1px solid silver;
  background-color: white;
}
.widget3-container {
  margin: 30px auto;
  overflow: auto;
  padding: 0px 30px 10px 30px;
  border-radius: 2px;
  border: 1px solid silver;
  background-color: white;
}

.tooltip {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn:hover {
  color: white;
  border: 1px solid blue !important;
  filter: contrast(110%);
}

.hov:hover {
  fill: rgba(245, 245, 245, 0.76);
  transform: 100%;
}
.hov2:hover {
  filter: contrast(200%);
}
.login-container {
  overflow: auto;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid silver;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.score-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 7px 20px !important;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}
a {
  font-size: small;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  margin: 27.5px auto 30px auto;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: silver;
  height: 1px;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid #42b72a;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 30px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form input {
  border: 1px solid silver;
  margin: 2.5px 0;
  width: 100%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
